DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
SECRET_KEY=django-insecure-728k0bs%91o$^sp%aa_ji@2fmtwpdk7r1na#*$%l2+%)7tnpo3

##########################################################
#  DATABASE
##########################################################

DB_ENGINE=django.db.backends.postgresql
DB_NAME=aits
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

##########################################################
#  CORS
##########################################################

# CORS_ALLOW_ALL_ORIGINS=False
# CORS_ALLOWED_ORIGINS=http://localhost:3000
# CORS_ALLOW_CREDENTIALS=False

#  CSRF
# CSRF_TRUSTED_ORIGINS=http://localhost:3000


#########################################################
#  ALLAUTH
#########################################################

GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
